body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    color: #333;
}
h1 {
    text-align: center;
    font-size: 36px;
    color: #006699;
    margin-top: 50px;
}
p {
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
    margin: 30px auto;
    max-width: 600px;
}
div {
    background-color: rgb(163, 67, 67);/*背景颜色*/
  }

p {
 text-align: center;
 font-weight: bold;
}
nav {
     text-align: center;
     background-color: #000000;
     margin-left: 200px;
     margin-right: 200px;
    }
    
    nav ul {
     display: inline-block;
     list-style-type: none;
     margin: 0;
     padding: 0;
    }
    
    nav ul li {
     display: inline-block;
     margin: 0 10px;
    }
    
    nav ul li a {
     display: block;
     padding: 10px;
     color: #ffffff;
     text-decoration: none;
    }
    
    nav ul li a:hover {
     color: #07daff;
     background-color: #b44242;
    }
    table{
        margin: 0 auto;
    }
    .footer{ position: fixed;
         right: 0;
        bottom: 0;
         width: 100%;
         background-color: rgb(56, 66, 161);
        color: white;
         text-align: center;
        }