.image-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  body {
    background-color: #1c41a8;/*背景颜色*/
  }
  .footer{
    position:fixed;
   right:0;
   bottom:0;
   width:10%;
   background-color: rgb(49, 156, 156);
   color: aliceblue;text-align: center;
   }/*页脚*/
p {
text-align: center;
font-weight: bold;
}